@import "tailwindcss";

@theme {
  --color-matcha-50: #f0fdf4;
  --color-matcha-100: #dcfce7;
  --color-matcha-200: #bbf7d0;
  --color-matcha-300: #86efac;
  --color-matcha-400: #4ade80;
  --color-matcha-500: #22c55e;
  --color-matcha-600: #16a34a;
  --color-matcha-700: #15803d;
  --color-matcha-800: #166534;
  --color-matcha-900: #14532d;
}

body {
  @apply bg-gray-50 text-gray-900 min-h-screen;
}
